[submodule "projects/rocprofiler-sdk/external/googletest"]
	path = projects/rocprofiler-sdk/external/googletest
	url = https://github.com/google/googletest.git
[submodule "projects/rocprofiler-register/external/glog"]
	path = projects/rocprofiler-register/external/glog
	url = https://github.com/google/glog.git
[submodule "projects/rocprofiler-sdk/external/glog"]
	path = projects/rocprofiler-sdk/external/glog
	url = https://github.com/google/glog.git
[submodule "projects/rocprofiler-sdk/external/fmt"]
	path = projects/rocprofiler-sdk/external/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "projects/rocprofiler-register/external/fmt"]
	path = projects/rocprofiler-register/external/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "projects/rocprofiler-sdk/source/docs/doxygen-awesome-css"]
	path = projects/rocprofiler-sdk/external/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "projects/rocprofiler-sdk/external/ptl"]
	path = projects/rocprofiler-sdk/external/ptl
	url = https://github.com/jrmadsen/PTL
[submodule "projects/rocprofiler-sdk/external/cereal"]
	path = projects/rocprofiler-sdk/external/cereal
	url = https://github.com/jrmadsen/cereal.git
[submodule "projects/rocprofiler-sdk/external/filesystem"]
	path = projects/rocprofiler-sdk/external/filesystem
	url = https://github.com/gulrak/filesystem.git
[submodule "projects/rocprofiler-sdk/external/perfetto"]
	path = projects/rocprofiler-sdk/external/perfetto
	url = https://github.com/google/perfetto
[submodule "projects/rocprofiler-sdk/external/elfio"]
	path = projects/rocprofiler-sdk/external/elfio
	url = https://github.com/serge1/ELFIO.git
[submodule "projects/rocprofiler-sdk/external/yaml-cpp"]
	path = projects/rocprofiler-sdk/external/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "projects/rocprofiler-sdk/external/json"]
	path = projects/rocprofiler-sdk/external/json
	url = https://github.com/nlohmann/json.git
[submodule "projects/rocprofiler-sdk/external/sqlite"]
	path = projects/rocprofiler-sdk/external/sqlite
	url = https://github.com/sqlite/sqlite
[submodule "projects/rocprofiler-sdk/external/pybind11"]
	path = projects/rocprofiler-sdk/external/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "projects/rocprofiler-sdk/external/gotcha"]
	path = projects/rocprofiler-sdk/external/gotcha
	url = https://jrmadsen@github.com/jrmadsen/GOTCHA
