---
Checks: "-*,\
readability-*,\
-readability-function-size,\
-readability-identifier-naming,\
-readability-implicit-bool-conversion,\
-readability-inconsistent-declaration-parameter-name,\
-readability-named-parameter,\
-readability-magic-numbers,\
-readability-redundant-declaration,\
-readability-redundant-member-init,\
-readability-simplify-boolean-expr,\
-readability-uppercase-literal-suffix,\
-readability-braces-around-statements,\
-readability-avoid-const-params-in-decls,\
-readability-else-after-return,\
-readability-isolate-declaration,\
-readability-redundant-string-cstr,\
-readability-static-accessed-through-instance,\
-readability-const-return-type,\
-readability-redundant-access-specifiers,\
-readability-function-cognitive-complexity,\
-readability-identifier-length,\
-readability-use-anyofallof,\
-readability-enum-initial-value,\
-readability-math-missing-parentheses,\
-readability-convert-member-functions-to-static,\
-readability-non-const-parameter,\
-readability-make-member-function-const,\
-readability-avoid-nested-conditional-operator,\
-readability-suspicious-call-argument,\
-readability-avoid-unconditional-preprocessor-if,\
"