CompileFlags:
  Add:
    - -Wno-unknown-warning-option
    - -Wdouble-promotion
    - -Werror=double-promotion
    - -Wshadow
    - -Werror=shadow
    - -Wextra
    - -Wpedantic
    - -Werror=pedantic
    - -Wstack-usage=524288

InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
  Designators: Yes

Hover:
  ShowAKA: Yes

Completion:
  AllScopes: Yes
