Package: rdc
Architecture: amd64
Maintainer: Advanced Micro Devices (AMD) <rdc.support@amd.com>
Depends:
Priority: optional
Version: MODULE_VERSION
Description: ROCm Data Center tools
 This package contains the ROCm Data Center tools.
